html, body,
main {
  background-image: url(images/bg-intro-mobile.png);
  background-color: hsl(0, 100%, 74%);
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  text-align: center;
  color: #fff;
  height: 100%;
}

.container {
  height: 100%;
}

.divide {
  display: block;
}

.text-part {
  display: block;
  height: 35%;
}

h1 {
  display: block;
  white-space: pre-line;
  margin-top: 4rem;
}

p {
  display: block;
  font-size: 14px;
  opacity: 0.8;
  margin: 2rem 1rem;
}

label {}

.trail-bottom {
  background-color: hsl(248, 32%, 49%);
  border-radius: 5px;
  margin: 1rem auto;
  padding: 10px;
  width: 80%;
  display: inline-block;
  font-size: 12px;
  white-space: pre-line;
  -webkit-box-shadow: -2px 20px 3px -7px rgba(66, 68, 90, 0.3);
  -moz-box-shadow: -2px 20px 3px -7px rgba(66, 68, 90, 0.3);
  box-shadow: -2px 20px 3px -7px rgba(66, 68, 90, 0.3);
}

.inputs {
  display: inline-block;
  width: 80%;
  margin: 1rem auto 3rem auto;
  background: #fff;
  border-radius: 5px;
  padding: 0.7rem;
  -webkit-box-shadow: -2px 20px 3px -7px rgba(66, 68, 90, 0.3);
  -moz-box-shadow: -2px 20px 3px -7px rgba(66, 68, 90, 0.3);
  box-shadow: -2px 20px 3px -7px rgba(66, 68, 90, 0.3);
}

.input {
  width: 90%;
  height: 30px;
  font-family: 'Poppins', sans-serif;
  text-align: left;
  display: block;
  margin: 15px auto;
}

.tns {
  color: hsl(246, 25%, 77%);
  font-size: 12px;
}

.terms {
  color: hsl(0, 100%, 74%);
}

button {
  display: block;
  margin: auto;
  border: none;
  width: 90%;
  padding: 10px 20px;
  background: hsl(154, 59%, 51%);
  color: #fff;
  border-radius: 10px;
  text-transform: uppercase;
  -webkit-box-shadow: -2px 20px 3px -7px rgba(66, 68, 90, 0.3);
  -moz-box-shadow: -2px 20px 3px -7px rgba(66, 68, 90, 0.3);
  box-shadow: -2px 20px 3px -7px rgba(66, 68, 90, 0.3);
}

button:active {
  background: hsl(152, 49%, 51%);
}

@media(min-width: 900px) {
  .flex-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .text-part{
    width: 600px;

  }
  .lower {
    width: 50%;
    padding: 2rem;
  }
  .inputs{
    padding-bottom: 2rem;
  }

  h1 {
    font-size: 32px;
  }

  p {
    font-size: 16px;
    padding: 0 2rem;
    text-align: left;
  }
}
